# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
*.sqlite3

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Redis
dump.rdb

# Project specific
backend/storage/files/*
!backend/storage/files/.gitkeep
